@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Open+Sans:ital,wght@1,300&family=Roboto:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
body{
    
    /*background-image: url('../img/bg4k.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -2px;
    background-attachment: fixed;
    /*z-index: -1;*/
    margin: 0%;

}
.container{
    height: 110vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    
}

.container::before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/bg4k.jpg');
    filter: brightness(0.5);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    background-attachment: fixed;
    z-index: -1;
    content: '';
}
.container{
    max-width: 1500px;
    margin: 0px auto;
    
}
/*.tofixed{
    position: fixed;
    top: 0;
    color: #555;
    background-color: #ddd;
}
/*#header{
    background-color: #131921;
}*/
nav{
    /*display: flex;*/
    justify-content: center;
    justify-items: center;
    /*border-bottom: 1px solid rgb(115, 114, 114, 0.2);*/
}
/*#logo{
    padding: 5px 0px;
    padding-right: 700px;
}
#logo img{
    max-width: 50px;
    height: auto;
}*/
#main-menu{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0 26%;
    padding-right: 0;
    border-bottom: 1px solid rgb(115, 114, 114, 0.2);


}
#main-menu li a{
    font-family: 'Roboto', sans-serif;
    color: #f5f5f5;
    display: block;
    padding: 21px 35px;
    padding-left: 22px;
    left: 0px;
    text-decoration: none;
}
#main-menu ul.sub-menu{
    position: absolute;
    background-color: #131921;
    padding: 10px 0px;
    list-style: none;
    width: 200px;
    border: 1px solid #434343;
    display: none;

}
#main-menu li:hover>ul.sub-menu{
    display: block;
}
#main-menu ul.sub-menu a{
    font-family: 'Open Sans', sans-serif;
    padding: 10px 15px;
    border-bottom: 1px solid #434343;
    left: 0;
}
#main-menu ul.sub-menu li:hover>a{
    border-bottom: 1px solid #6e6e6e;
}
#main-menu ul.sub-menu li:last-child a{
    border: none;
    /*border-top: 1px solid #6e6e6e;*/
}
#main-menu ul.sub-menu ul.sub-menu {
    left: 200px;
    top: -1px; 
    
}

/* thiết lập border khi hover*/
#main-menu>li>a{
    position: relative;
}
#main-menu>li>a::before{
    content: "";
    height: 4px;
    width: 0%;
    background: rgba(255, 89, 126, 1);
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    
}
#main-menu>li:hover>a::before{
    width: 100%;
}
#main-menu>li.has-child::after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f107";
    color: #858585;
    position: absolute;
    top: 0px;
    left: 465px;
    padding: 23px 0px;
    
    
}
#main-menu .sub-menu li:hover>a{
    color:rgba(255, 89, 126, 1);
}


/*#main-menu .sub-menu>li.has-child::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f105";
    color: #858585;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 19px 7px;
    
}
#main-menu .sub-menu>li.has-child:hover::after{
    color: rgba(255, 89, 126, 1);
}*/
/*#main-menu ul.sub-menu1{
    position: absolute;
    background-color: #131921;
    padding: 10px 0px;
    list-style: none;
    width: 200px;
    border: 1px solid #434343;
    display: none;
}
#main-menu li:hover>ul.sub-menu1{
    display: block;
}
#main-menu ul.sub-menu1 a{
    padding: 10px 15px;
    border-bottom: 1px solid #434343;
    left: 0;
}
#main-menu ul.sub-menu ul.sub-menu1 {
    left: 199px;
    top: -1px; 
    
}
#main-menu .sub-menu>li.has-child1::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f105";
    color: #858585;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 61px 10px;
}
#main-menu .sub-menu>li.has-child1:hover::after{
    color: rgba(255, 89, 126, 1);
}*/
#main-menu ul.sub-menu2{
    position: absolute;
    background-color: #131921;
    padding: 10px 0px;
    list-style: none;
    width: 200px;
    border: 1px solid #434343;
    display: none;
}
#main-menu li:hover>ul.sub-menu2{
    display: block;
}
#main-menu ul.sub-menu2 a{
    padding: 10px 15px;
    border-bottom: 1px solid #434343;
    left: 0;
}
#main-menu ul.sub-menu ul.sub-menu2 {
    left: 200px;
    top: 42px;    
}
/*#main-menu .sub-menu>li.has-child2::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f105";
    color: #858585;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 90px 10px;
}
#main-menu .sub-menu>li.has-child2:hover::after{
    color: rgba(255, 89, 126, 1);
}*/
#main-menu ul.sub-menu3{
    position: absolute;
    background-color: #131921;
    padding: 10px 0px;
    list-style: none;
    width: 200px;
    border: 1px solid #434343;
    display: none;
}
#main-menu li:hover>ul.sub-menu3{
    display: block;
}
#main-menu ul.sub-menu3 a{
    padding: 10px 15px;
    border-bottom: 1px solid #434343;
    left: 0;
}
#main-menu ul.sub-menu ul.sub-menu3 {
    left: 200px;
    top: 85px;    
}
.banner .title{
    color: #FFFAFA;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 13vh;
    font-family: 'Great Vibes', cursive;
    z-index: -1;
    opacity: 0;
    text-shadow: 0 0 5px #FFFAFA, 0 0 10px #FFFAFA, 0 0 20px #FFFAFA, 0 0 40px #0ff, 0 0 80px #0ff, 0 0 90px #0ff;
    animation: showtitle 1s ease-in-out 1s 1 forwards;
    
}
#main-menu ul.sub-menu4{
    position: absolute;
    background-color: #131921;
    padding: 10px 0px;
    list-style: none;
    width: 200px;
    border: 1px solid #434343;
    display: none;
}
#main-menu li:hover>ul.sub-menu4{
    display: block;
}
#main-menu ul.sub-menu4 a{
    padding: 10px 15px;
    border-bottom: 1px solid #434343;
    left: 0;
}
#main-menu ul.sub-menu ul.sub-menu4 {
    left: 200px;
    top: 128px;    
}
#main-menu ul.sub-menu5{
    position: absolute;
    background-color: #131921;
    padding: 10px 0px;
    list-style: none;
    width: 200px;
    border: 1px solid #434343;
    display: none;
}
#main-menu li:hover>ul.sub-menu5{
    display: block;
}
#main-menu ul.sub-menu5 a{
    padding: 10px 15px;
    border-bottom: 1px solid #434343;
    left: 0;
}
#main-menu ul.sub-menu ul.sub-menu5 {
    left: 200px;
    top: 171px;    
}
#main-menu ul.sub-menu6{
    position: absolute;
    background-color: #131921;
    padding: 10px 0px;
    list-style: none;
    width: 200px;
    border: 1px solid #434343;
    display: none;
}
#main-menu li:hover>ul.sub-menu6{
    display: block;
}
#main-menu ul.sub-menu6 a{
    padding: 10px 15px;
    border-bottom: 1px solid #434343;
    left: 0;
}
#main-menu ul.sub-menu ul.sub-menu6 {
    left: 200px;
    top: 214px;    
}
#main-menu ul.sub-menu7{
    position: absolute;
    background-color: #131921;
    padding: 10px 0px;
    list-style: none;
    width: 200px;
    border: 1px solid #434343;
    display: none;
}
#main-menu li:hover>ul.sub-menu7{
    display: block;
}
#main-menu ul.sub-menu7 a{
    padding: 10px 15px;
    border-bottom: 1px solid #434343;
    left: 0;
}
#main-menu ul.sub-menu ul.sub-menu7 {
    left: 200px;
    top: 258px;    
}
.banner img{
    position: absolute;
    left: 55%;
    bottom: -56;
    transform: translate(-50%,10%);
    width: 30%;
    filter: brightness(0.2);
    background-size: 100%;
    z-index: -1;
    opacity: 0;
    animation: showingshow ease-in-out 1s 1 forwards;
}
.banner1 img{
    position: absolute;
    left: 50%;
    bottom: -35px;
    transform: translate(-50%,10%);
    width: 16%;
    filter: brightness(0.7);
    background-size: 100%;
    z-index: -1;
    opacity: 0;
    animation: totopimg ease-in-out 1s 1 forwards;
}
@keyframes totopimg{
    from{
        transform: translate(-50%,20%);
    }to{
        opacity: 1;
    }
}
@keyframes showtitle{
    from{
        filter: blur(33px);
        transform: translate(-50%,-80%);
    }to{
        opacity: 1;
        filter: blur(0px);
        transform: translate(-50%,-50%);
    }
}
/*.banner::before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

}*/
.banner::after{
    position: absolute;
    left: 0;
    width: 100%;
    height: 10vh;
    top: 100vh;
    background-image: url('../img/cloud-2.png');
    background-size: 100%;
    content: '';
    filter: brightness(0.97);
}
.leader{
    min-height: 1500px;
    background-color: #F9F7F7;
}
.intro{
    padding: 50px;
    text-align: center;
    height: 130vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro h2{
    font-family: 'Great Vibes', cursive;
    font-size: 130px;
    padding: 0;
    margin: 30px 0;
}
.intro div{
    font-size: 35px;
}



.select{
    position: relative;
    height: 1000px; 
    background-color: #DBE2EF;
    overflow: hidden;
}
.select .select1{
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%,-50%);
    width: 1000px;
    height: 600px;
    padding: 50px;
    background-color: #f5f5f5;
    box-shadow: 0 30px 50px #dbdbdb;
    animation: showtopook 1s ease-in-out 1 forwards;
}
.select .tieude{
    padding: 40px 0;
    position: absolute;
    color: #131921;
    z-index: 3333;
    top: 20px;
    left: 516px;
    font-size: 23px;
    /* animation: showtop 1s ease-in-out 1 forwards; */
}
#silde{
    width: 1000px;
    margin-top: 50px;
}
.anh{
    width: 200px;
    height: 200px;
    background-position: 50% 50%;
    display: inline-block;
    transition: 0.5s;
    background-size: cover;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translate(120%,60%);
    border-radius: 20px;
    box-shadow: 0 30px 50px #505050;
    filter: brightness(0.9);
}
.anh:nth-child(1), .anh:nth-child(2){
    left: 0;
    top: 0;
    transform: translate(0,0);
    border-radius: 0;
    width: 100%;
    height: 100%;
    box-shadow: none;
}

.anh:nth-child(3){
    left: 50%;
}
.anh:nth-child(4){
    left: calc(50% + 220px);
}
.anh:nth-child(n + 5){
    left: calc(50% + 440px);
    opacity: 0;
}

.anh .noidung{
    position: absolute;
    top: 70%;
    left: 50px;
    width: 430px;
    text-align: left;
    padding: 0;
    color: black;
    transform: translate(0,-50%);
    display: none;
}
.anh:nth-child(2) .noidung{
    display: block;
    z-index: 1111;
}
.anh .ten{
    font-family: system-ui;
    font-size: 40px;
    font-weight: bold;
    opacity: 0;
    animation: showanh 1s ease-in-out 1 forwards;
}
.anh .des{
    font-family: system-ui;
    font-size: large;
    margin: 20px 0;
    opacity: 0;
    animation: showanh 1s ease-in-out 0.3s 1 forwards;
}
.anh button{
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
    opacity: 0;
    animation: showanh 1s ease-in-out 0.6s 1 forwards;
}
@keyframes showanh{
    from{
        opacity: 0;
        transform: translate(0,100px);
        filter: blur(33px);
    }to{
        opacity: 1;
        transform: translate(0,0);
        filter: blur(0);
    }
}
.buttons{
    position: absolute;
    bottom: 30px;
    z-index: 2222;
    text-align: center;
    width: 100%;
}
.buttons button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #B4846C;
    transition: 0.5s;
}
.anh button:hover{
    background-color: #F38181;
}
.buttons button:hover{
    background-color: #B4846C;
}



.team{
    width: 80%;
    height: 120vh;
    padding: 90px 10%;
    background-color: #A6E3E9;
    text-align: center;
}
.team title{
        padding-bottom: 100px;
}
.itemimg{
    margin-bottom: 15px;
    margin-right: 20px;
    margin-left: 15px;
}
.team .itemimg{
    padding: 10px 0;
    border-radius: 8%;
    width: 30%;
    float: left;
    background-color: #FFDAB9;
}
.team .itemimg img{
    width: 88%;
    padding: 0 5%;
    height: 200px;
    border-radius: 15%;
    object-fit: cover;
    transition: all .3s ease;
}
    /* .team .itemimg img:hover{
        width: 100%;
        height: 45%;
        transform: scale(1.5);
    } */
.itemimg div{
    font-family: 'Alata', sans-serif;
    font-size: 17px;
} 
.itemimg h4{
    margin: 5px;
    font-size: 13px;
}
.itemimg h3{
        margin: 5px;
}
/**/
/**/
.itemimg3{
    margin-bottom: 15px;
    margin-right: 20px;
    margin-left: 15px;
}
.team .itemimg3{
    padding: 10px 0;
    width: 30%;
    float: left;
    border-radius: 8%;
    background-color: #F0E68C;

}
.team .itemimg3 img{
    width: 88%;
    padding: 0 5%;
    height: 200px;
    border-radius: 15%;
    object-fit: cover;
    transition: all .3s ease;
}
    /* .team .itemimg3 img:hover{
        width: 100%;
        height: 45%;
        transform: scale(1.5);
    } */
.itemimg3 div{
    font-family: 'Alata', sans-serif;
    font-size: 17px;
} 
.itemimg3 h4{
    margin: 5px;
    font-size: 13px;
}
.itemimg3 h3{
    margin: 5px;
}
/**/
.itemimg2{
    margin-bottom: 15px;
    margin-right: 20px;
    margin-left: 15px;
}
.team .itemimg2{
    padding: 10px 0;
    width: 30%;
    float: right;
    border-radius: 8%;
    background-color: #DB7093;

}
.team .itemimg2 img{
        width: 88%;
        padding: 0 5%;
        height: 200px;
        border-radius: 15%;
        object-fit: cover;
    }
.itemimg2 div{
    font-family: 'Alata', sans-serif;
    font-size: 17px;
} 
.itemimg2 h4{
    margin: 5px;
    font-size: 13px;
}
.itemimg2 h3{
     margin: 5px;
}


/**/
.itemimg5{
    margin-top: 15px;
    margin-right: 20px;
    margin-left: 15px;
}
.team .itemimg5{
    width: 30%;
    float: left;
    padding: 10px 0;
    border-radius: 8%;
    background-color: #DDA0DD	;
}
.team .itemimg5 img{
    width: 88%;
    padding: 0 5%;
    height: 200px;
    border-radius: 15%;
    object-fit: cover;
}
.itemimg5 div{
    font-family: 'Alata', sans-serif;
    font-size: 17px;
}
.itemimg5 h4{
    margin: 5px;
    font-size: 13px;
}
.itemimg5 h3{
    margin: 5px;
}
/**/
.itemimg6{
    margin-top: 15px;
    margin-right: 20px;
    margin-left: 15px;
}
.team .itemimg6{
    padding: 10px 0;
    width: 30%;
    float: right;
    border-radius: 8%;
    background-color: #FF7F50;

}
.team .itemimg6 img{
    width: 88%;
    padding: 0 5%;
    height: 200px;
    border-radius: 15%;
    object-fit: cover;
    }
.itemimg6 div{
    font-family: 'Alata', sans-serif;
    font-size: 17px;
} 
.itemimg6 h4{
    margin: 5px;
    font-size: 13px;
}
.itemimg6 h3{
    margin: 5px;
}
/**/
.itemimg1{
    margin-top: 15px;
    margin-right: 20px;
    margin-left: 15px;
}
.team .itemimg1{
    width: 30%;
    float: left;
    padding: 10px 0;
    border-radius: 8%;
    background-color: #A0522D;
}
.team .itemimg1 img{
    width: 88%;
    padding: 0 5%;
    height: 200px;
    border-radius: 15%;
    object-fit: cover;
}
.itemimg1 div{
    font-family: 'Alata', sans-serif;
    font-size: 17px;
}
.itemimg1 h4{
    margin: 5px;
    font-size: 13px;
}
.itemimg1 h3{
    margin: 5px;
}
.show{
    width: 94%;
    padding: 150px 3%;
    height: 100vh;
    background: #112D4E;
    text-align: center;
    color: #eee;
}
.show .title{
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 80px;
    width: 100%;
}
.show .img{
    width: 47%;
    position: relative;
    float: left;
    opacity: 0;
}
.active .img{
    animation: showingshow 1s ease-in-out 0.2s 1 forwards;
}
@keyframes showingshow{
    from{
        opacity: 0;
        filter: blur(33px);
        transform: translate(150px);
    }to{
        opacity: 1;
        filter: blur(0);
        transform: translate(0);
    }
}
.show .img img{
    padding: 10px;
    width: 100%;
    height: 540px;
    object-fit: cover;
    background-color: #fff;
    border-radius: 50px;
}
.show .list{
    width: 50%;
    float: left;
}
.list .contactitem{
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 20px;
    width: 225px;
    float: right;
    
}
.list .contactitem img{
    width: 100%;
    padding: 5%;
    height: 227px;
    object-fit: cover;
    background-color: #f5f5f5ff;
}
.footer{
    background: #161924;
    width: 100%;
    text-align: center;
    padding-top: 250px;
    display: block;
    color: #ddd;
}
.footer .title{
    font-family: 'Great Vibes', cursive;
    font-size: 100px;
}
.footer ul{
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 30vh;
    border-top: 1px solid rgb(115, 114, 114, 0.2);
}
.footer li{
    padding: 30px 90px;
    font-size: 30px;
}

.showtotop, .zoomshow{
    opacity: 0;
}
.active .showtotop{
    animation:showtop 1s ease-in-out 1 forwards ;
}
.active .zoomshow{
    animation:zoomshow 1s ease-in-out 1 forwards ;
}
@keyframes zoomshow{
    from{
        transform: scale(0);
    }to{
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes showtop{
    from{
        opacity: 0;
        transform: translate(0,100px);
    }to{
        opacity: 1;
        transform: translate(0,0);
    }
}
@keyframes showtopook{
    20%{
        opacity: 0;
    }50%{
        opacity: 0;
    }80%{
        opacity: 1;
    }
}
.delay-02{
    animation-delay: 0.2s!important ;
}
.delay-04{
    animation-delay: 0.4s!important ;
}
.delay-06{
    animation-delay: 0.6s!important ;
}
.delay-08{
    animation-delay: 0.8s!important ;
}
.delay-1{
    animation-delay: 1s!important ;
}
.delay-12{
    animation-delay: 1.2s!important ;
}
.delay-14{
    animation-delay: 1.4s!important ;
}
.delay-16{
    animation-delay: 1.6s!important ;
}
.delay-18{
    animation-delay: 1.8s!important ;
}
.delay-2{
    animation-delay: 2s!important ;
}
.delay-22{
    animation-delay: 2.2s!important ;
}
.delay-24{
    animation-delay: 2.4s!important ;
}
.delay-26{
    animation-delay: 2.6s!important ;
}
.delay-28{
    animation-delay: 2.8s!important ;
}
.delay-1{
    animation-delay: 1s!important ;
}