body{
    background-color: #3A0E6A;
    color: #ddd;
    font-family: system-ui;
}
.container{
    position: absolute;
    width: 1200px;
    height: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
    background-image: radial-gradient(#320643, #140534);
}
.directional{
    position: absolute;
    left: 222px;
    bottom: 1px;
    width: 60%;
    /* text-align: center; */
    z-index: 3;
}
.directional button{
    /* padding: 0 100px; */
    width: 50px;
    height: 50px;
    color: #fff;
    background-color: transparent;
    border: none;
    opacity: 0.2;
}
.directional button:hover{
    opacity: 1;
}
#slide{
    position: relative;
    width: 100%;
    height: 54%;
}
#slide .item{
    position: absolute;
    top: -280px;
    left: 0;
    width: 54%;
    height: 100%;
    z-index: 1;
}
.header{
    position: relative;
    width: 46%;
    height: 290px;
}
.image{
    background-image: url("1.jpg");
}
.header .image{
    position: absolute;
    top: 56px;
    left: 847px;
    width: 290px;
    height: 290px;
    display: flex;
    background-size: cover;
    background-position: center;
    animation: back infinite 20s;
    z-index: 7;
}
.header .image:hover{
    transform: scale(1.2);
}
/* .image{
    background-image: url("1.jpg");
}
#slide .item .image{
    position: absolute;
    top: 56px;
    right: 52px;
    width: 290px;
    height: 290px;
    display: flex;
    background-size: cover;
    background-position: center; */
    /* background-position-y: -30px; */
    /* animation: back infinite 20s; */
    /* text-align: center; */
    /* justify-content: center;
    align-items: end; */
/* }
#slide .item .image:hover{
    transform: scale(1.2);
} */
@keyframes back{
    0% , 100% {
        background-image: url("1.jpg");
    }
    20%{
        background-image: url("2.jpg");
    }
    40%{
        background-image: url("3.jpg");
    }
    60%{
        background-image: url("4.jpg");
    }
    80%{
        background-image: url("5.jpg");
    }
}
/* #slide .item .image img{
    width: 290px;
    height: 290px;
    object-fit: cover;
    background-position-y: -5px;
    transition: 0.5s;
}  */

.content .left{
    position: absolute;
    left: 65px;
    top: 10px;
    display: none;
}
.content .left h1{
    font-size: xxx-large;
    font-weight: 600;
    margin-bottom: 35px;
}
.content .left .des{
    font-size: 21px;
    font-weight: 100;
    margin-left: 40px;
    /* margin-bottom: 20px; */
    /* white-space: nowrap;
    border-right: 5px solid orange;
    overflow: hidden;
    animation: typing 1.5s steps(20) 1,
    caret 0.5s steps(3) infinite; */
}

/* .content .left{
    position: absolute;
    left: 65px;
    top: 30px;
}
.content .left h1{
    font-size: xxx-large;
    font-weight: 600;
    margin-bottom: 10px;
}
.content .left ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.content .left li{
    font-size: x-large;
    font-weight: 100;
    margin-bottom: 0px;
    position: relative;
    white-space: nowrap;
    border-right: 5px solid orange;
    overflow: hidden;
    animation: typing 1.5s steps(20) 1,
    caret 0.5s steps(3) infinite;
}
.content .left li::before{
    position: absolute;
    left: -40px;
    top: 18px;
    transform: translate(0, -50%);
    width: 8px;
    height: 8px;
    background-color: #8C0781;
    content: '';
    border-radius: 50%;
    box-shadow: 0 0 10px #8C0781;
} */




@keyframes caret{
    from{
        border-color: transparent;
    } to {
        border-color: orange;
    }
}
@keyframes typing {
    from {
        width: 0;
    } to {
        width: 100%;
    }
}
@keyframes contentOut {
    from{
        opacity: 1;
        transform: translate(0,0);
    }to{
        opacity: 0;
        transform: translate(0,-100%);
        filter:blur(133px)
    }
}
@keyframes contentIn{
    from{
        opacity: 0;
        transform: translate(0,40%);
        filter: blur(33px)
    }to{
        opacity: 1;
        transform: translate(0,0);
    }
}
#slide .item:nth-child(1) .left,
#slide .item:nth-child(2) .left{
    display: block;
}
#slide .item:nth-child(1) .left{
    animation: contentOut 1s ease-in-out 1 forwards
}
#slide .item:nth-child(2) .left{
    animation: contentIn 1s ease-in-out 1 forwards
}

/* #slide .item:nth-child(1) .left{
    opacity: 0;
    transform: scale(0) translate(-100px);
}
#slide .item:nth-child(2) .left{
    opacity: 1;
    transform: scale(1) translate(-100px);
} */
.delay-02{
    animation-delay: 2s!important ;
}