showtotop{
    opacity: 0;

}
:active .showtotop{
    animation: showtop 1s ease-in-out 1 forwards
}
delay-02{
    animation-delay: 0.2! important;
}
delay-04{
    animation-delay: 0.4! important;
}